:root {
  --bg-color: #1b1b1b;
  --bg-light: #313131;
  --primary-color: #29d3d3;
  --primary-dark: #009b9b;
  --accent: #d329ae;
  --accent-darker: #3d1034;
  --accent-trans: #330a2a;
  --font: #eaf5f5;
  --trans-color: rgba(255, 255, 255, 0);
  --span-purple: #d329ae;
  --span-blue: #009b9b;

  /*UI*/

  --btn-purple: #d329ae;

  --btn-blue: #009b9b;
  --ui: #eaf5f5;

  /* Headings desktop */
  --heading-1: 4.209rem;
  --heading-2: 3.157rem;
  --heading-3: 2.369rem;
  --heading-4: 1.777rem;
  /* Headings mobile */
  --heading-1-m: 2.488rem;
  --heading-2-m: 2.074rem;
  --heading-3-m: 1.728rem;
  --heading-4-m: 1.44rem;

  /*Line height desktop*/
  --h1-lh: 4.3rem;
  --h2-lh: 3.2rem;
  --h3-lh: 2.5rem;
  --h4-lh: 1.9rem;
  --lead-lh: 1.5rem;

  /*Line height mobile*/
  --h1-lh-m: 2.6rem;
  --h2-lh-m: 2.2rem;
  --h3-lh-m: 2rem;
  --h4-lh-m: 1.6rem;
  --lead-lh-m: 1.6rem;

  /* Paragraph */

  --p-lead: 1rem;
  --p: 0.883rem;
  --p-small: 0.883rem;

  /* Box-shadows */

  --shadow-small: rgba(0, 0, 0, 0.2) 0px 20px 40px -7px;
  --shadow-medium: rgba(0, 0, 0, 0.2) 0px 40px 40px -7px;
  --shadow-large: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;

  /* Border-radius */
  --border-sharp: 0.2rem;
  --border-rounded: 0.4rem;
  --border-round-full: 99rem;

  /* Spacing */
  --spacing-1: 0.2rem;
  --spacing-10: 0.625rem;
  --spacing-15: 0.9375rem;
  --spacing-20: 1.25rem;
  --spacing-30: 1.875rem;
  --spacing-40: 2.5rem;
  --spacing-80: 5rem;

  /* Typography */
  --main-font: "League Spartan", sans-serif;
  --weight-bold: 800;
  --weight-med: 600;
  --weight-reg: 400;

  /* Easing */
  --ease: ease-in-out 150ms;

  /* Duration */
  --medium-animation: 0.5s;
}

html {
  font-family: sans-serif;
  color: var(--font);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
}

body {
  background-color: var(--bg-color);
}

.navbar-bottom {
  background-color: var(--trans-color);
  height: 10vh;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top-left-radius: var(--border-rounded);
  border-top-right-radius: var(--border-rounded);
  z-index: 100;
}

#nav-bot {
  display: flex;
  justify-content: space-evenly;
  padding: var(--spacing-10);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--font);
}

.navbar-top {
  background-color: var(--trans-color);
  height: 8vh;
  position: fixed;
  border-bottom-left-radius: var(--border-rounded);
  border-bottom-right-radius: var(--border-rounded);
  width: 100%;
  padding: var(--spacing-15);
  display: flex;
  justify-content: space-between;
}

.sticky {
  background-color: var(--bg-light);
}

/* .navbar-bottom.sticky {
  -webkit-box-shadow: 0px -7px 53px -12px rgba(224, 114, 224, 0.6);
  -moz-box-shadow: 0px -7px 53px -12px rgba(224, 114, 224, 0.6);
  box-shadow: 0px -7px 53px -12px rgba(224, 114, 224, 0.6);
}
.navbar-top.sticky {
  -webkit-box-shadow: 0px 7px 53px -12px rgba(224, 114, 224, 0.6);
  -moz-box-shadow: 0px 7px 53px -12px rgba(224, 114, 224, 0.6);
  box-shadow: 0px 7px 53px -12px rgba(224, 114, 224, 0.6);
} */

.navbar-top,
.navbar-top .sticky,
.navbar-bottom,
.navbar-bottom .sticky {
  transition: 250ms ease-in;
}

.navbar-top a {
  text-decoration: none;
  font-size: 2rem;
  color: var(--font);
}

.bar {
  width: 2rem;
  height: 0.25rem;
  margin: 0.25rem auto;
  transition: 0.2s ease-in-out;
  background-color: var(--ui);
  border-radius: 4px;
}

.navbar-top a,
.navbar-top .hamburger {
  position: relative;
  z-index: 100;
}

.burger-content {
  position: absolute;
  left: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
  width: 100vw;
  height: 100vh;
  text-align: center;
  transition: 0.25s;
  padding: 0 3rem 12rem 3rem;
  justify-content: center;
}

.burger-content ul li {
  list-style: none;
  margin-top: 2rem;
  color: var(--font);
  font-size: 1.2rem;
}

.burger-content.open {
  left: 0;
}

.hamburger.open .bar:nth-child(2) {
  opacity: 0;
}
.hamburger.open .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.open .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.bot-nav-el {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: var(--heading-1-m);
  line-height: var(--h1-lh-m);
  text-align: center;
  font-weight: var(--weight-bold);
  margin-bottom: var(--spacing-20);
}

h2 {
  font-size: 2rem;
  font-size: var(--heading-2-m);
  line-height: var(--h2-lh-m);
  font-weight: var(--weight-med);
}

h3 {
  font-size: 1rem;
  font-size: var(--heading-3-m);
  line-height: var(--h3-lh-m);
  font-weight: var(--weight-med);
}

.p-lead {
  font-size: var(--p-lead);
  line-height: var(--h4-lh-m);
  font-weight: var(--weight-reg);
}

.p-lead-intro {
  text-align: center;
  font-size: var(--p-lead);
  line-height: var(--h4-lh-m);
  font-weight: var(--weight-reg);
}

button {
  border: none;
  padding: var(--spacing-10) var(--spacing-30);
  color: var(--font);
  font-weight: bold;
  margin: 1rem 0.5rem;
  /* text-align: center; */
}

.blue-btn {
  background-color: var(--btn-blue);
}
.purple-btn {
  background-color: var(--btn-purple);
}
.span-blue {
  color: var(--primary-color);
}
.span-purple {
  color: var(--accent);
}

#hero {
  background-image: url("billeder/gradient.png");
  height: 100vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 87% 60%;

  padding: var(--spacing-30);
}

#hero-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 10% 1fr;
  align-items: center;
  justify-content: center;
  justify-items: center;
}
.text-intro {
  grid-row-start: 2;
  justify-self: center;
}
.btn-intro {
  display: flex;
  justify-content: space-around;
}

.scroll {
  display: flex;
  justify-content: center;
}

.arrow {
  border-left: 5px solid white;
  border-top: 5px solid white;
  transform: rotate(225deg);
  height: 15px;
  width: 15px;

  animation-name: bounce;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  z-index: -100;
}

@keyframes bounce {
  0% {
    transform: translateY(0) rotate(225deg);
  }
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0) rotate(225deg);
  }
  40% {
    transform: translateY(-15px) rotate(225deg);
  }
  60% {
    transform: translateY(-10px) rotate(225deg);
  }
}
.wrapper > * {
  margin-bottom: var(--spacing-80);
}

.indhold {
  margin-bottom: var(--spacing-80);
  margin-left: var(--spacing-10);
  margin-right: var(--spacing-10);
}

blockquote > * {
  margin-bottom: var(--spacing-10);
  margin-top: var(--spacing-10);
}

form {
  display: flex;
  flex-direction: column;
}

#mail-sek {
  padding: var(--spacing-10);
}

input[type="submit"] {
  background-color: var(--btn-purple);
  border: none;
  padding: var(--spacing-10) var(--spacing-30);
  color: var(--font);
  font-weight: bold;
  border-radius: 0;
  margin: var(--spacing-20);
}

#message {
  height: 100px;
}

input {
  border-radius: var(--border-rounded);
  background-color: var(--ui);
  border: 3px solid var(--btn-blue);
  height: 2rem;
  padding: var(--spacing-10);
}

.so-me {
  display: flex;
  grid-row-start: 3;
}
.so-me > * {
  margin: 1rem;
}

@media (min-width: 800px) {
  main {
    display: grid;
    grid-template-columns: 15% 1fr 15%;
  }
  .content-wrap {
    grid-column-start: 2;
  }

  /* .burger-content {
    position: static;
    display: block;
    background-color: transparent;
    text-align: left;
    width: 100%;
    height: auto;
    transition: 0.25s;
    align-self: center;
  }

  .hamburger {
    display: none;
  }

  .burger-content ul {
    display: flex;
    justify-content: end;
    gap: var(--spacing-15);
  } */

  .projekt {
    display: flex;
    align-items: center;
    align-content: center;
  }

  h1 {
    font-size: var(--heading-1);
    line-height: var(--h1-lh);
    text-align: left;
    font-weight: var(--weight-bold);
    margin-bottom: var(--spacing-20);
  }

  h2 {
    font-size: 2rem;
    font-size: var(--heading-2);
    line-height: var(--h2-lh);
    font-weight: var(--weight-med);
  }

  h3 {
    font-size: 1rem;
    font-size: var(--heading-3);
    line-height: var(--h3-lh);
    font-weight: var(--weight-med);
  }

  .p-lead {
    font-size: var(--p-lead);
    line-height: var(--h4-lh-);
    font-weight: var(--weight-reg);
  }

  .p-lead-intro {
    text-align: left;
    font-size: var(--p-lead);
    line-height: var(--h4-lh);
    font-weight: var(--weight-reg);
  }

  .text-intro {
    grid-column-start: 1;
    justify-self: end;
    padding-left: var(--spacing-40);
  }

  .btn-intro {
    display: flex;
    justify-content: start;
  }
  .navbar-bottom {
    display: none;
  }

  .so-me {
    display: flex;
    grid-row-start: span 3;
    grid-column-start: 3;
    justify-self: end;
  }

  #hero-wrapper {
    padding: var(--spacing-30);
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .hero-txt {
    justify-self: center;
  }
  .scroll {
    display: flex;
    justify-content: center;
  }

  .arrow {
    display: none;
  }

  .mouse {
    grid-column-start: 2;
    grid-row-start: 3;
    height: 3.5rem;
    width: 2rem;
    border: 0.2rem solid var(--ui);
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-self: end;
    gap: var(--spacing-10);
  }

  .mouse-wheel {
    height: 0.9rem;
    width: 0.3rem;
    background-color: var(--ui);
    margin-top: var(--spacing-1);
    border-radius: 2rem;
    animation-name: scroll;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  @keyframes scroll {
    0%,
    10%,
    20%,
    30%,
    40%,
    50% {
      margin-top: var(--spacing-15);
    }
  }

  .so-me {
    display: block;
  }
  .so-me::before {
    content: "";
    background-color: #fff;
    height: 30vh;
    width: 0.125rem;
    margin: 0.2rem auto;
    display: block;
  }
  .so-me::after {
    content: "";
    background-color: #fff;
    height: 30vh;
    width: 0.125rem;
    margin: 0.2rem auto;
    display: block;
  }
}
